.card {
  background-color: #ffffff;
  color: #000;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 25rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: 42vh;
  padding-top: 24px;
padding-bottom: 24px;
  text-decoration: none;  

}

.card:hover {
  background-color: #d3d9f1;
  box-shadow: 0 0.4rem 0.8rem rgba(28, 22, 92, 0.4);
}

.card-image {
  width: 100%;
  height: 20vh;
  max-height: 12rem;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 1.5rem;
  box-sizing: border-box;
  text-decoration: none;  

}

a {
  text-decoration: none; 
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
    text-decoration: none; 
  margin: 0 0 1rem;
}

.card-description {
  font-size: 0.95rem;
  color: #5e5e5e;
  margin: 0 0 1rem;
  text-decoration: none;  
  flex: 1;
  overflow: auto;
}

.add-btn {
  margin: 1rem;
  align-self: stretch;
  padding: 0.75rem 1rem;
  background-color: #677bea;
  color: #fff;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.add-btn:hover {
  background-color: #683fc1;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  width: 100%;
  justify-items: center;
  margin-top: 14vh;
}

.card-list p {
  font-size: large;
  font-weight: bold;
}

.remove-btn {
  align-self: stretch;     
  margin-top: 1rem;        
  padding: 0.75rem 1rem;   
  background-color: #f07859;
  margin: 1rem;
  color: #fff;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
  box-sizing: border-box;  
}

.remove-btn:hover {
  background-color: #c0392b;
}

@media (max-width: 1000px) {
  .card-list {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    align-items: center;
    margin-top: 14vh;
    width: 100vw;
  }
}
